{{ form_start(form) }}
    {{ form_widget(form) }}
{#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">#}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
